form {
  background: rgb(219, 240, 243);
  max-width: 400px;
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px;
}
h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
div,
label {
  padding-bottom: 16px;
}
.width100 {
  width: 100%;
  font-size: 20px;
  border: px solid rgb(114, 70, 70);
  background-color: rgb(211, 231, 225);
  padding: 6px 0;
}
textarea {
  border: 2px solid #a2a4a5;
}
button {
  width: 100%;
  background-color: rgb(94, 192, 94);
  padding: 14px 0;
  border-radius: 10px;
  border: none;
  color: white;
}
